.contacts{
    margin-bottom: 200px;
    .section-title{
        text-align: left;
        margin-bottom: 15px;
    }
    &__slider-imgbox{
        max-width: 640px;
        max-height: 480px;
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: scale-down;
        }
    }
    &__text{
        max-width: 510px;
        width: 100%;
        margin-bottom: 50px;
        @extend %open-400;
    }
    &__wrapper{
        display: flex;
        margin-bottom: 100px;
    }
    .title{
        @extend %rail-300;
        margin-bottom: 50px;
    }
    .map{
        width: 100%;
    }
}