<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rings</title>
    <link rel="stylesheet" href="css/index.min.css">
</head>
<body>

    {% include 'app/module/_header/_header.html' %}



    <main class="main">
        {% include 'app/module/_top-slider/_top-slider.html' %}
        {% include 'app/module/_filler/_filler.html' %}
        {% include 'app/module/_catalog/_catalog.html' %}
        {% include 'app/module/_latest/_latest.html' %}
    </main>

    {% include 'app/module/_footer/_footer.html' %}

    <script src="js/main.min.js"></script>
</body>
</html>