.error{
    margin-bottom: 150px;
    text-align: center;
    &__img{
        margin: 0 auto 5px;
    }
    &__text{
        margin-bottom: 40px;
    }
    &__link{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        @extend %btn-1;
    }
}